<h2 id="home-welcome">Welcome to Pup Portal!</h2>

<p class="main-paragraph">Click the links below to add a dog to the system or view the current dogs:</p>

<!-- Add more space -->
<br>
<div id="body-button-container">
<!--href links to newdog home route-->
<a href="/newdog" class="body-buttons">Add a Dog</a>

<!--href links to viewalldogs home route-->
<a href="/viewalldogs" class="body-buttons">View All Dogs</a>
</div>