*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
/*set margin of the body to 0 so that there will not be a border around the header*/
body{
    margin: 0%;
    background-color: #f8ecde;
}
/*header div for main handlebars view*/
/*'justify-content: space-between' will align flex items horizontally*/
/*'align-item: center' will align items vertically*/
/*added padding for some spacing around header items*/
#main-header-container{
    background-color: #3B82f6;
    color: #f8ecde;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.nav-button{
    color:#f8ecde;
    background-color: #ff884d;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

}

.nav-button:hover{
    background-color: #ff661a;
    
}

/*logout button style*/
#logout-button{
    border-style: none;
}

/*h2 welcome for homepage handlebars view*/
#home-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    flex-wrap: wrap;
}

/*paragraph on homepage handlebars view*/
.main-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    flex-wrap: wrap;
}

/*Buttons on homepage handlebars view*/
#body-button-container{
    display: flex;
    justify-content: center
}
.body-buttons{
    color:#f8ecde;
    background-color: #ff884d;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
   
}

.body-buttons:hover{
    background-color: #ff661a;
}

/*Styles For Login Handlebars View*/
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.login-form{
    margin: 10px;
}

.form-input{
    margin: 5px;
}

#login-submit-button, #new-dog-submit{
    color:#f8ecde;
    background-color: #ff884d;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-style: none;
}

#login-submit-button:hover, #new-dog-submit:hover{
    background-color: #ff661a;
    cursor: pointer;
}

/*Styles for view all dogs handlebars view*/
#viewAll-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.dog-containter, .dog-name, .dog-data{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;  
}

/*Styles for add a new dog handlebars view, submit button is coded along with the login button*/
#new-dog-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.new-dog-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; 
}



/* Media query for smaller screens, breakpoint is at max width of 480px for mobile layout*/
@media screen and (max-width: 480px) {
    
    #main-header-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* align nav and title to the center of the header on y-axis*/
        justify-content: center;
    }
    .header-title{
        text-align: center;
    }
    .header-nav {
        display: flex;
        flex-direction: column; /* Stack navigation links vertically */
        align-items: center; /* Align links to the center of their container */
        justify-content: center;
      }
    
      .header-nav a {
        margin-right: 0; /* Remove right margin for vertical stacking */
        margin-bottom: 0.5rem; /* Add spacing between stacked links */
      }
    .nav-button{
        display:flex;
        flex-direction: column; /* Stack navigation links vertically */
    }

  }